[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pypdf2 = "*"
argparse = "*"
requests = "*"
pysqlite3 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
